<section class="panel">
  <header class="panel__header">
    <h2 class="panel__title">Equipos</h2>
  </header>


  <div class="toolbar toolbar--one-row">
    <label class="label inline">Nombre</label>
    <input class="input" placeholder="Nombre" [(ngModel)]="nombre" />

    <label class="label inline">Localidad</label>

    <select class="input" [(ngModel)]="idLocalidad">
      <option [ngValue]="null">Seleccionar</option>
      <option *ngFor="let l of localidades()" [ngValue]="l.id">{{ l.nombre }}</option>
    </select>
    <button class="btn" (click)="crear()" [disabled]="!nombre.trim() || !idLocalidad || loading()">
      {{ loading() ? 'Guardando…' : 'Agregar' }}
    </button>

    <label class="label inline">ID</label>
    <input class="input input--id" type="number" [(ngModel)]="idCrud" placeholder="#ID" />

    <button class="btn btn--ghost" (click)="buscarPorId()" [disabled]="!idCrud || loading()">Buscar</button>
    <button class="btn btn--ghost" (click)="editar()"
      [disabled]="!idCrud || !nombre.trim() || !idLocalidad || loading()">Editar</button>
    <button class="btn btn--ghost danger" (click)="borrarPorId()" [disabled]="!idCrud || loading()">Borrar</button>
  </div>

  <div class="list-scroll">
    <ul class="list">
      <li class="row-item" *ngFor="let e of equipos()">
        <span class="mono">#{{ e.id_Equipo }}</span>
        <span class="name">{{ e.nombre }}</span>
        <span class="muted">Loc: {{ e.localidad }}</span>
        <button class="btn btn--ghost" (click)="borrarDesdeLista(e)">Eliminar</button>
      </li>
    </ul>
  </div>
</section>
