<header class="panel admin-header">
  <div class="panel__header">
    <h2 class="panel__title">Administración</h2>
  </div>

  <nav class="toolbar nav">
    <a *ngIf="canViewLocalidades()" routerLink="localidades" routerLinkActive="active" class="btn">Localidades</a>
    <a *ngIf="canViewEquipos()" routerLink="equipos" routerLinkActive="active" class="btn">Equipos</a>
    <a *ngIf="canViewPartidos()" routerLink="partidos" routerLinkActive="active" class="btn">Partidos</a>
    <a *ngIf="canViewJugadores()" routerLink="jugadores" routerLinkActive="active" class="btn">Jugadores</a>
    <a *ngIf="canViewUsuarios()" routerLink="usuarios" routerLinkActive="active" class="btn">Usuarios</a>
    <a *ngIf="canViewRoles()" routerLink="roles" routerLinkActive="active" class="btn">Roles</a>
  </nav>
</header>

<router-outlet></router-outlet>
