<header class="panel admin-header">
  <div class="panel__header">
    <h2 class="panel__title">Administración</h2>
  </div>

  <nav class="toolbar nav">
    <a routerLink="localidades" routerLinkActive="active"class="btn">Localidades</a>
    <a routerLink="equipos" routerLinkActive="active" class="btn">Equipos</a>
    <a routerLink="partidos" routerLinkActive="active" class="btn">Partidos</a>
    <a routerLink="jugadores" routerLinkActive="active" class="btn">Jugadores</a>
  </nav>
</header>

<router-outlet></router-outlet>
