<section class="panel">
  <header class="panel__header">
    <h2 class="panel__title">Localidades</h2>
  </header>

  <div class="toolbar toolbar--wrap">
    <div class="field">
      <label class="label">Nombre</label>
      <input class="input" placeholder="Nombre" [(ngModel)]="locNombre" (keyup)="validarNombre(locNombre)" />
    </div>


    <div class="field">
      <label class="label">&nbsp;</label>
      <button class="btn" (click)="crearLocalidad()" [disabled]="!locNombre.trim()|| errorNombre">
        Agregar
      </button>
    </div>
<div class="toolbar toolbar--one-row">
  <!-- Nombre -->
  <label class="label inline">Nombre</label>
  <input class="input" placeholder="Nombre" [(ngModel)]="locNombre" />

  <!-- Agregar -->
  <button class="btn"
          (click)="crearLocalidad()"
          [disabled]="!locNombre.trim() || loading()">
    {{ loading() ? 'Guardando…' : 'Agregar' }}
  </button>

  <!-- ID -->
  <label class="label inline">ID</label>
  <input class="input input--id" type="number" [(ngModel)]="idCrud" placeholder="#ID" />

  <!-- Acciones -->
  <button class="btn btn--ghost" (click)="buscarPorId()"  [disabled]="!idCrud || loading()">Buscar</button>
  <button class="btn btn--ghost" (click)="editarLocalidad()"
          [disabled]="!idCrud || !locNombre.trim() || loading()">Editar</button>
  <button class="btn btn--ghost danger" (click)="borrarPorId()" [disabled]="!idCrud || loading()">Borrar</button>
  </div>


  <div class="list-scroll">
    <ul class="list">
      <li class="row-item" *ngFor="let l of localidades()">
        <span class="mono">#{{ l.id_Localidad }}</span>
        <span class="name">{{ l.nombre }}</span>
        <button class="btn btn--ghost" (click)="borrarDesdeLista(l)">Eliminar</button>
      </li>
    </ul>
  </div>
</section>
